<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="${siteTitle}">пост</title>
</head>

<body>
<header>
    <a th:href="@{/index}">Главная</a>
    <a th:href="@{/addPost}">Добавить пост</a>
    <a th:href="@{/login}" sec:authorize="!isAuthenticated()">Вход</a>
    <a th:href="@{/reg}" sec:authorize="!isAuthenticated()">Регистрация</a>
    <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
        <input type="submit" value="Выйти">
    </form>
</header>
    <form th:action="@{${isAdd}? '/addNewPost' : '/updateNewPost'+ ${post.id}}" th:object="${post}" method="post">
        <label>Заголовок</label>
        <input type="text" id="title" name="title" th:field="*{title}" required>

        <label>Текст статьи</label>
        <input type="text" id="text" name="text" th:field="*{text}" required/>

        <button type="submit">Сохранить</button>
    </form>
</body>
</html>