<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<header>
    <a th:href="@{/index}">Главная</a>
    <a th:href="@{/addPost}">Добавить пост</a>
    <a th:href="@{/login}" th:if="${#authentication == null}">Вход</a>
    <a th:href="@{/reg}" th:if="${#authentication == null}">Регистрация</a>
    <form th:action="@{/logout}" method="post" th:if="${#authentication != null}">
        <input type="submit" value="Выйти">
    </form>
</header>
<form th:action="@{/submit}" th:object="${user}" method="post">
    <label>Имя</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>

    <label>Пароль</label>
    <input type="password" id="password" name="password" th:field="*{password}" required/>

    <button type="submit">Сохранить</button>
</form>
<p th:if="${passwordError}" class="error-message">Неверный пароль</p>
<p th:if="${userIsExists}" class="error-message2">Такой пользователь уже есть</p>
</body>
</html>