<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<header>
    <a th:href="@{/index}">Главная</a>
    <a th:href="@{/addPost}">Добавить пост</a>
    <a th:href="@{/login}" sec:authorize="!isAuthenticated()">Вход</a>
    <a th:href="@{/reg}" sec:authorize="!isAuthenticated()">Регистрация</a>
    <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
        <input type="submit" value="Выйти">
    </form>
</header>

<form th:action="@{/submitlog}" th:object="${user}" method="post">
    <label>Имя</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>

    <label>Пароль</label>
    <input type="password" id="password" name="password" th:field="*{password}" required/>

    <button type="submit">Сохранить</button>
</form>
<p th:if="${passwordError}" class="error-message">Неверный пароль</p>
</body>
</html>