<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="&{siteTitle}">какой-то пост</title>
</head>
<body>
<header>
    <a th:href="@{/index}">Главная</a>
    <a th:href="@{/addPost}">Добавить пост</a>
    <a th:href="@{/login}" sec:authorize="!isAuthenticated()">Вход</a>
    <a th:href="@{/reg}" sec:authorize="!isAuthenticated()">Регистрация</a>
    <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
        <input type="submit" value="Выйти">
    </form>
</header>
</body>
</html>