<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div th:replace="headerFragment :: header"></div>
<form th:action="@{/submit}" th:object="${user}" method="post">
    <label>Имя</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>

    <label>Пароль</label>
    <input type="password" id="password" name="password" th:field="*{password}" required/>

    <label>Подтвердите пароль</label>
    <input type="password" id="password2" name="passwordAnother" th:value="${passwordAnother}" required/>

    <button type="submit">Сохранить</button>
</form>
<p th:if="${passwordError}" class="error-message">Неверный пароль</p>
<p th:if="${userIsExists}" class="error-message">Такой пользователь уже есть</p>
</body>
</html>